<!-- shared footer -->
<footer>
    <div class="grid-container">
        <div class="grid-x grid-padding-x align-center">
            <div class="large-10 cell">
                <div class="footer-dragon"></div>
            </div>
        </div>
    </div>
    <div class="grid-container ">
        <div class="grid-x grid-padding-x">
            <div class="small-10 small-offset-1 large-3 cell">
                <ul class="footer-menu">
                {% for link in site.data.links %}
                  <li><a href="{{ link.url | absolute_url }}">{{ link.name }}</a></li>
                {% endfor %}
                </ul>
            </div>
            <div class="small-10 large-5 cell text-footer small-offset-1 large-offset-0">
                <p>A Python conference in Ljubljana, Slovenia, taking place on April 18 & 19, 2020. Followed by three
                    days of sprints.
                </p>
                <p>Organized by DragonPy Team in collaboration with Center for Methodology and Informatics (Faculty of
                    Social Sciences, University of Ljubljana)</p>
            </div>
        </div>
    </div>
</footer>
<!-- end shared footer -->

<script src="{{ 'assets/vendor/jquery/dist/jquery.js' | absolute_url }}"></script>
<script src="{{ 'assets/vendor/what-input/dist/what-input.js' | absolute_url }}"></script>
<script src="{{ 'assets/vendor/foundation-sites/dist/js/foundation.js' | absolute_url }}"></script>
<script src="{{ 'assets/js/app.js' | absolute_url }}"></script>

</body>
</html>
