        <!-- shared header -->
        <nav class="top-nav grid-x grid-padding-x align-center hide-for-small-only">
            <ul class="menu">
                {% for link in site.data.links %}
                  <li><a href="{{ link.url | absolute_url }}">{{ link.name }}</a></li>
                {% endfor %}
            </ul>
        </nav>

        <div class="grid-x grid-padding-x show-for-small-only"
             data-responsive-toggle="mobile-menu">

            <nav class="top-nav small-11 cell text-right">
                <button class="text-white text-bold" data-toggle="mobile-menu">menu</button>
            </nav>
        </div>

        <div id="mobile-menu" class="hide-for-medium">
            <div class="grid-container">
                <div class="grid-x grid-padding-x">
                    <div class="small-12 cell text-right"
                         data-responsive-toggle="mobile-menu">
                        <button type="button" class="mobile-menu__close"
                                data-toggle="mobile-menu">close
                        </button>
                    </div>

                    <ul class="mobile-menu__ul">
                        {% for link in site.data.links %}
                          <li><a href="{{ link.url | absolute_url }}">{{ link.name }}</a></li>
                        {% endfor %}
                    </ul>

                    <div class="mobile-menu__cracks"></div>

                    <div class="mobile-menu__cta-wrapper small-12 cell">
                        <a href="#" class="btn yellow">Submit talk proposal</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- end shared header -->