---
---

// Basic set-up
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

@import "_variables";

// Overrided Bootstrap classes

body{
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.bg-image{
  display:block;
  position:fixed;
  width:100%;
  height:100%;
  top:0;
  left:0;

  background: #000000 url(/assets/img/ljubljana-bckg-2.jpg) no-repeat center bottom fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  z-index:-1;
}


.content{
  padding:1.5rem;
  z-index:1;
  color:#ffffff;
  position:relative;
}

h1{
  font-weight: 700;
  font-size: 4rem;
  margin-top: 0;
  margin-bottom: 0;
}
hr{
  margin: 30px auto;
  border-width:3px;
  max-width:50px;
  border-color:#ffffff;
}
p {
  font-weight: 300;
  font-size:2rem;
  margin-bottom: 20px;
}

// Mailchimp classes
#mc_embed_signup{
  clear:left;
}
#mc_embed_signup_scroll label{
  display:none !important;
}
#mc_embed_signup input.email{
  height:45px !important;
  font-size:1.2rem !important;
}
#mc_embed_signup .button{
  height:45px !important;
  background: #107474 !important;
  font-size:1.2rem !important;
}
#mc_disclaimer{
  font-size: 100%;
}
