{% include header.html %}

  <body>

  <div class="bg-image"></div>

  <div class="content container d-flex h-100">

  <div class="container h-100">
    <div class="row align-items-center h-100">
      <div class="col-sm-12 col-md-8 mx-auto">

        {{ content }}

      </div>
      <div class="col-12 mx-auto">
        <hr>

        {% include mcform.html %}

      </div>

      <div class="col-sm-12 col-md-8 col-lg-7 mx-auto mt-5">
        <div class="text-center pb-3">
          <a href="https://twitter.com/{{ site.twitter_name }}?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @{{ site.twitter_name }}</a>
        </div>
        <a class="twitter-timeline" href="https://twitter.com/{{ site.twitter_name }}?ref_src=twsrc%5Etfw">Tweets by {{ site.twitter_name }}</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>

      <div class="col-12 mx-auto mt-4">
        <p class="text-center small">
          Event is organized by Ljubljana's Python Community in collaboration with Center for Methodology and Informatics (Faculty of Social Sciences, University of Ljubljana).
        </p>
      </div>
    </div>
  </div>

  <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>

  </body>
</html>
